{% extends 'backend/achat/index.html.twig' %}
{% block title %} ajout sous categorie  {% endblock  %}
{% block content %}


<div class="col-md-8 col-md-offset-2">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                <h4 style="text-align: center">Creer une sous categorie</h4>
            </div>

        </div>

        <div class="panel-body p-20">

            <table class="table table-striped">


                {{ form_start(form) }}
                {{ form_widget(form) }}
    <button type="submit" class="btn btn-success btn-labeled ">ajouter<span class="btn-label btn-label-right"><i class="fa fa-check"></i></span></button>
                {{ form_end(form) }}


                <br> <br>

                <a href="{{ path('souscategorie_index') }}"><button type="button" class="btn btn-success">retour à la liste</button></a>

                {% endblock %}