{% extends 'backend/achat/index.html.twig' %}
{% block title %} ajout fournisseur  {% endblock  %}

{% block content %}


<div class="col-md-8 col-md-offset-2">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                <h4 style="text-align: center">Creer un fournisseur</h4>
            </div>

        </div>







        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group mt-20">
            <div class="">
                <button type="submit" class="btn btn-success btn-labeled ">ajouter<span class="btn-label btn-label-right"><i class="fa fa-check"></i></span></button>
            </div>
        </div>


        {{ form_end(form) }}

        <br>


        <a href="{{ path('fournisseur_index') }}"><button type="button" class="btn btn-success">retour à la liste</button></a>


        {% endblock %}

