{% extends 'backend/AgentCaisse/indexAgentCaisse.html.twig' %}

{% block content %}
    <h1>Ajouter lettre de relance</h1>
    {{ form_start(form) }}
    <table>
        <tr><td>numero facture</td><td>{{ form_widget(form.factureVente) }}</td></tr>


        <tr><td></td><td>{{ form_widget(form.Ajout) }}</td></tr>
        {{ form_end(form) }}
    </table>




{% endblock %}