<nav class="commerce-pagination js-filter-pagination">
    <p class="commerce-result-count">
        Showing 1&ndash;12 of 14 results
    </p>
    <div class="paginate">
        <div class="paginate_links">
            <span class='page-numbers current'>1</span>
            <a class='page-numbers' href='#'>2</a>
            <a class="next page-numbers" href="#">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</nav>
