{% extends 'backend/achat/index.html.twig' %}
{% block title %} ajout produit  {% endblock  %}
{% block content %}
    <h1>Creer un produit</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('produit_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
