{% extends 'frontend/Achat/index.html.twig' %}
{% block title %} Gentrepot_Shop {% endblock %}



    {% block content %}

        <div id="wrapper" class="wide-wrap">
            <div class="offcanvas-overlay"></div>

            <header class="header-container header-type-center header-navbar-center header-absolute header-transparent ">

                <div class="navbar-container">
                    <div class="navbar navbar-default navbar-scroll-fixed">
                        <div class="navbar-default-wrap">
                            <div class="container">
                                <div class="row">
                                    <div class="navbar-default-col">
                                        <div class="navbar-wrap">

                                            <nav class="collapse navbar-collapse primary-navbar-collapse">
                                                <ul class="nav navbar-nav primary-nav">
                                                    <li class="current-menu-item menu-item-has-children dropdown">
                                                        <a href="./" class="dropdown-hover">
                                                            <span class="underline">Home</span> <span
                                                                    class="caret"></span>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="home-v2.html">Home v2</a></li>

                                                        </ul>
                                                    </li>
                                                    <li class="menu-item-has-children megamenu megamenu-fullwidth dropdown">
                                                        <a href="{{ path('produit_shop') }}" class="dropdown-hover">
                                                            <span class="underline">Shop</span> <span
                                                                    class="caret"></span>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li class="mega-col-3">
                                                                <h3 class="megamenu-title">Women <span
                                                                            class="caret"></span>
                                                                </h3>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="shop-by-category.html">Maecenas</a>
                                                                    </li>
                                                                    <li><a href="shop-by-category.html">Nulla</a></li>
                                                                    <li><a href="shop-by-category.html">Donec</a></li>
                                                                    <li><a href="shop-by-category.html">Aliquam</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="mega-col-3">
                                                                <h3 class="megamenu-title">Brands <span
                                                                            class="caret"></span>
                                                                </h3>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="shop-by-category.html">Evans</a></li>
                                                                    <li><a href="shop-by-category.html">Adesso</a></li>
                                                                    <li><a href="shop-by-category.html">Crocs</a></li>
                                                                    <li><a href="shop-by-category.html">Carvela</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="mega-col-3">
                                                                <h3 class="megamenu-title">Features <span
                                                                            class="caret"></span>
                                                                </h3>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="shop-fullwidth.html">Products Style
                                                                            2</a></li>
                                                                    <li><a href="shop-detail-2.html">Single Product
                                                                            Style 2</a>
                                                                    </li>
                                                                    <li><a href="shop-masonry.html">Shop Masonry</a>
                                                                    </li>
                                                                    <li><a href="my-account.html">My Account</a></li>
                                                                    <li><a href="cart.html">Cart</a></li>
                                                                    <li><a href="cart-empty.html">Empty Cart</a></li>
                                                                    <li><a href="wishlist.html">Wishlist</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="mega-col-3">
                                                                <h3 class="megamenu-title">Mega Menu</h3>
                                                                <div class="megamenu-sidebar">
                                                                    <div class="widget widget_products commerce">
                                                                        <ul class="product_list_widget">
                                                                            <li>
                                                                                <a href="shop-detail-1.html">
                                                                                    <img src="images/products/thumb/product_60x60.jpg"
                                                                                         alt="2a"/>
                                                                                    <span class="product-title">Cras rhoncus duis viverra</span>
                                                                                </a>
                                                                                <span class="amount">&pound;12.00</span>
                                                                                &ndash;
                                                                                <span class="amount">&pound;20.00</span>
                                                                            </li>
                                                                            <li>
                                                                                <a href="shop-detail-1.html">
                                                                                    <img src="images/products/thumb/product_60x60.jpg"
                                                                                         alt="3a"/>
                                                                                    <span class="product-title">Morbi sed egestas</span>
                                                                                </a>
                                                                                <span class="amount">&pound;123.00</span>
                                                                            </li>
                                                                            <li>
                                                                                <a href="shop-detail-1.html">
                                                                                    <img src="images/products/thumb/product_60x60.jpg"
                                                                                         alt="4a"/>
                                                                                    <span class="product-title">Creamy Spring Pasta</span>
                                                                                </a>
                                                                                <span class="amount">&pound;321.00</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="collection.html"><span
                                                                    class="underline">Collections</span></a>
                                                    </li>
                                                    <li class="menu-item-has-children dropdown">
                                                        <a href="#" class="dropdown-hover">
                                                            <span class="underline">Blog</span> <span
                                                                    class="caret"></span>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="blog-default.html">Blog Default</a></li>
                                                            <li><a href="blog-center.html">Blog Center</a></li>
                                                            <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item-has-children dropdown">
                                                        <a href="#" class="dropdown-hover">
                                                            <span class="underline">Pages</span> <span
                                                                    class="caret"></span>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="about-us.html">About us</a></li>
                                                            <li><a href="contact-us.html">Contact Us</a></li>
                                                            <li><a href="faq.html">FAQ</a></li>
                                                            <li><a href="404.html">404</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-search-overlay hide">
                            <div class="container">
                                <div class="header-search-overlay-wrap">
                                    <form class="searchform">
                                        <input type="search" class="searchinput" name="s" autocomplete="off" value=""
                                               placeholder="Search..."/>
                                    </form>
                                    <button type="button" class="close">
                                        <span aria-hidden="true" class="fa fa-times"></span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>


            <div class="mt-7 content-container commerce page-layout-left-sidebar js-filter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 main-wrap">
                            <div class="main-content">
                                <div class="shop-toolbar">
                                    <form class="commerce-ordering clearfix js-filter-sorting">
                                        <div class="commerce-ordering-select">
                                            <label class="hide">Sorting:</label>
                                            <div class="form-flat-select">
                                                <select name="orderby" class="orderby">
                                                    <option value="" selected='selected'>Default sorting</option>
                                                    <option value="">Sort by popularity</option>
                                                    <option value="">Sort by average rating</option>
                                                    <option value="">Sort by newness</option>
                                                    <option value="">Sort by price: low to high</option>
                                                    <option value="">Sort by price: high to low</option>
                                                </select>
                                                <i class="fa fa-angle-down"></i>
                                            </div>
                                        </div>
                                        <div class="commerce-ordering-select">
                                            <label class="hide">Show:</label>
                                            <div class="form-flat-select">
                                                <select name="per_page" class="per_page">
                                                    <option value="" selected='selected'>12</option>
                                                    <option value="">24</option>
                                                    <option value="">36</option>
                                                </select>
                                                <i class="fa fa-angle-down"></i>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                {% include 'AchatBundle:produit:_product_content.html.twig' %}

                                <div class="navigation">
                                    {{ knp_pagination_render(list ,'AchatBundle:produit:_pagination_override.html.twig' ) }}
                                </div>



                            </div>
                        </div>

                        <div class="col-md-3 sidebar-wrap ">
                            <div class="main-sidebar">
                                <form class="js-filter-form">
                                    <div class="widget commerce widget_product_search">
                                        <h4 class="widget-title">
                                            <span>Product Search</span>
                                        </h4>
                                        <div class="commerce-product-search">
                                            <label class="screen-reader-text" for="s">Search for:</label>
                                            <input type="search" class="search-field rounded"
                                                   placeholder="Search Products&hellip;"
                                                   value="" name="filter"/>
                                            <input type="submit" value="Search"/>
                                        </div>
                                    </div>


                                    <div class="widget widget_layered_nav">
                                        <h4 class="widget-title"><span>Sup Categories</span></h4>
                                        {% for c in categories %}

                                        <input type="checkbox"  name="categories" value="{{ c.name }}">
                                        <label for="vehicle1">{{ c.name }}</label><br>
                                        {% endfor %}



                                    </div>
                                    <div class="widget widget_product_categories">
                                        <h4 class="widget-title"><span>Categories</span></h4>
                                        <ul class="product-categories">
                                            <li><a href="#">Aliquam</a></li>
                                            <li><a href="#">Donec</a></li>
                                            <li><a href="#">Fusce</a></li>
                                            <li><a href="#">Maecenas</a></li>
                                            <li><a href="#">Nulla</a></li>
                                            <li><a href="#">Proin</a></li>
                                            <li><a href="#">Tortor</a></li>
                                            <li><a href="#">Various</a></li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>





    {% endblock %}

{% block filter %}

    <script type="text/javascript">
        /*    console.log('test')


                 class Filter {


                     constructor(element) {
                         if (element === null) {
                             return
                         }

                                 this.pagination = $(".js-filter-pagination");
                                     this.content = $(".js-filter-content");
                                     this.sorting = $(".js-filter-sorting");
                                     this.form = $(".js-filter-form");
                                   //  this.bindEvents();


                                 }


                                 bindEvents() {
                                     let self = this;
                                     this.sorting.click(function (event) {
                                         let target = $(event.target);
                                         if (target.is("a")) {
                                             event.preventDefault();
                                             self.loadUrl(target.attr("href"));
                                         }

                                     });

                                     this.form.find('input').each(function (index) {
                                         $(this).on('input', function () {
                                             self.loadForm();
                                         })

                                     });
                                 }

                                 async loadForm() {

                                     const data = this.form.serialize();
                                     const url = this.form.attr('action') !== undefined ? this.form.attr('action') : (window.location.href);
                                     console.log("change");
                                     console.log("url  : " + url);
                                     console.log("data : " + data);
                                     return this.loadUrl(url + '?' + data);

                                 }


                                 async loadUrl(url) {
                                     const ajaxUrl = url + '&ajax=1';
                                     const response = await fetch(ajaxUrl, {
                                         headers: {
                                             'X-Requested-With': 'XMLHttpRequest'
                                         }
                                     });
                                     if (response.status >= 200 && response.status < 300) {
                                         const data = await response.json();
                                         this.content.html(data.content);
                                         this.sorting.html(data.sorting);
                                         this.pagination.html(data.pagination);
                                         history.replaceState({}, '', url)
                                     } else {
                                         console.error(response)
                                     }
                                 }


           }


           const filter = new Filter(document.querySelector('.js-filter'));

   */

    </script>
{% endblock %}
