<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer class="site-footer text-center">
    <div class="site-footer-legal">© 2017. MYPROJECT</div>
    <div class="site-footer-right">
        Some info<i class="red-600 icon md-favorite"></i>  All rights reserved
    </div>
</footer>
</body>
</html>