{% extends 'backend/ResponsableStockage/indexStockage.html.twig' %}

{% block content %}
    <div class ="container">
    <div class="panel panel-primary">
    <div class ="panel-heading">
        <i class ="icon_menu"></i>Liste Des Pertes
    </div>

    <div class ="panel-body">
    <fieldset style="width: 50%">
        <form method="POST">
            <table class ="table-condensed">
                <tr>
                    <td >Produit:*</td><td ><input type="text" name="produit" value="{{lperte.getProduit().getLibelle()}}">
                    </td>
                </tr>
                <tr>
                    <td>Qté:*</td><td><input type="text" name="quantite" value="{{lperte.quantite }}"></td>
                </tr>
                <tr>
                    <td>Raison Perte:*</td><td><input type="text" name="raisonPerte" value="{{lperte.raisonPerte  }}"></td>
                </tr>
                <tr>
                    <td>Perte:*</td><td><input type="text" name="perte" value="{{lperte.getPerte().getId() }}"></td>
                </tr>

                <tr>
                    <td><input type="submit" value="Valider"></td><td></td>
                </tr>
            </table>
        </form>
    </fieldset>
    </div>
    </div>
    </div>
{% endblock %}